.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

rotate-vertically{
  -webkit-transform: rotateY(y 180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.input-container{
  margin-bottom: 80px;
}
input{
  padding: 10px;
  border-radius: 5px;
}
.button{
  padding: 10px;
  border-radius: 5px;
  background-color: #eee;
  margin-left: 15px;
  cursor: pointer;
}
